<html>

<table *ngIf="showTable" class="table table-bordered table-hover">

  <thead class="docker">
  <tr>
    <th scope="col">Coin</th>
    <th scope="col">Invested Value ($)</th>
    <th scope="col">Current Value ($)</th>
    <th scope="col">PNL ($)</th>
    <th scope="col">Current Price ($)</th>
  </tr>
  </thead>

  <tbody class="table-dark docker2">

  <tr *ngFor="let coin of data" (click)="showDetails(coin)">
    <th scope="row">{{coin.symbol}}</th>
    <td>{{coin.investedPrice.toFixed(3)}}</td>
    <!--suppress ALL-->
    <td [ngClass]="coin.currentValue < coin.investedPrice ? 'red2' : 'green2'">{{coin.currentValue.toFixed(3)}}</td>
    <!--suppress ALL-->
    <td [ngClass]="coin.pnl < 0 ? 'red2' : 'green2'">{{coin.pnl.toFixed(3)}}</td>
    <td>{{coin.currentPrice}}</td>
  </tr>

  </tbody>

</table>

<app-coin-details *ngIf="!showTable" [coin]="coin" (close)="onClose($event)"></app-coin-details>

<div class="container" *ngIf="showTable">

  <div class="totalinvested background">
    <h1>Value Invested</h1>
    <h2 class="green2">{{totalPriceInvested.toFixed(2)}}</h2>
  </div>

  <div class="totalvalue background">
    <h1>Value Remaining</h1>
    <!--suppress ALL-->
    <h2 [ngClass]="totalValue < totalPriceInvested ? 'red2' : 'green2'">{{totalValue.toFixed(2)}}</h2>
  </div>

  <div class="pnl background" >
    <h1 *ngIf="totalPNL < 0">Value Lost</h1>
    <h1 *ngIf="totalPNL > 0">Value Gained</h1>
    <!--suppress ALL-->
    <h2 [ngClass]="totalPNL < 0 ? 'red2' : 'green2'">{{totalPNL.toFixed(2)}}</h2>
  </div>

</div>

</html>




