.container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.totalinvested{
  border: 2px solid black;
}

.totalvalue{
  border: 2px solid black;
}

.red{
  background: #F8D7DA;
}

.green{
  background: #D1E7DD;
}

.pnl{
  border: 2px solid black;
}

h1, h2{
  margin: 15px;
}

