html {
  background: #202c33;
}

body {
  background: #202c33;
  color: white;
}

mat-slider {
  width: 300px;
}

nav {
  visibility: hidden;
}

h1 {
  font-weight: bold;
}

.cross {
  content: "\274C";
  cursor: pointer;
}

.big-heading {
  color: #8cabb2;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-right: auto;
  margin-left: 13px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.span-heading {
  font-weight: 500;
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #8cabb2;
}

.no-hover {
  padding-top: 12px;
}

.last-label {
  padding-top: 8px;
  padding-bottom: 8px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
}

mat-form-field mat-label {
  font-size: 20px;
  font-weight: bolder !important;
  color: #c7cacc;
}

mat-form-field {
  background: #14222b;
  padding-top: 0px;
  margin-top: 5px;
}

mat-form-field input {
  font-size: 15px;
  margin-top: 5px;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

.label-heading {
  margin: 30px !important;
}

.container {
  margin-top: 20px;
  margin-left: 0.05px;
  background: #202c33;
}

.space_lg {
  margin-left:320px;
}

mat-slider {
  mar: 338px;
}

.slider {
  margin-top: 15px;
}

.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  margin-bottom: 15px;
}

.red{
  color: red;
}

.green{
  color: greenyellow;
}

.fw-bold {
  font-weight: bold;
}

.center {
  width: 38%;
  display: flex;
  justify-content: space-evenly;
}

.history-btn {
  color: white;
  background: #53296c;
  margin-top: 15px;
}

.history-btn:hover {
  background: #391250;
}

@media (max-width:500px) {
  .center {
    width: auto;
  }
  .space_lg {
    margin-left: 220px;
  }

  .big-heading {
    font-size: 20px;
    margin-left: 10px;
  }

  mat-form-field mat-label {
    font-size: 20px;
    font-weight: bolder !important;
  }

  mat-form-field input {
    font-size: 15px;
    margin-top: 15px;
  }

  .span-heading {
    font-weight: bold;
    font-size: 20px;
  }

  .container {
    margin-top: 15px;
    margin-left: 0.8px;
  }

  .example-full-width {
    width: 100%;
  }

  mat-slider {
    width: 225px;
  }
}
