<html>

<body>

<h1 *ngIf="!showHistory" class="big-heading">
  <span>{{coin.symbol}} DETAILS</span></h1>

<div *ngIf="!showHistory" class="container">

  <form class="example-form">

    <mat-form-field class="example-full-width no-hover" appearance="fill">
      <mat-label class="fw-bold">Invested Value</mat-label>
      <!--suppress ALL-->
      <input matInput readonly placeholder="Invested Price" value={{investedPrice.toFixed(2)}}>
    </mat-form-field>

    <mat-form-field class="example-full-width no-hover" appearance="fill">
      <mat-label>Current Price</mat-label>
      <!--suppress ALL-->
      <input matInput readonly placeholder="Current Price" value={{coin.currentPrice}}>
    </mat-form-field>

    <mat-form-field class="example-full-width no-hover" appearance="fill">
      <mat-label>Ideal Price</mat-label>
      <!--suppress ALL-->
      <input matInput readonly placeholder="Ideal Price" value={{idealPrice}}>
    </mat-form-field>

    <mat-form-field class="example-full-width no-hover" appearance="fill">
      <mat-label>Current Worth</mat-label>
      <!--suppress ALL-->
      <input matInput readonly placeholder="Current Worth" [ngClass]="currentValue < investedPrice ? 'red' : 'green'" value={{currentValue.toFixed(2)}}>
    </mat-form-field>

    <mat-form-field class="example-full-width no-hover" appearance="fill">
      <mat-label>PNL</mat-label>
      <!--suppress ALL-->
      <input matInput readonly placeholder="PNL" [ngClass]="pnl < 0 ? 'red' : 'green'" value={{pnl.toFixed(3)}}>
    </mat-form-field>

    <mat-form-field class="example-full-width last-label" appearance="fill">
      <mat-label>Add Custom Price</mat-label>
      <!--suppress ALL-->
      <input matInput type="number" step="0.01" placeholder="Price" value={{idealPrice.toFixed(2)}} #txtVal (keyup)="keyup(txtVal.value)">
    </mat-form-field>
  </form>

  <!--<span class="span-heading">Coin Percentage       </span>
  <mat-slider class="slider" (input)="onInputChange($event)"
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1000"
              step="5000"
              min="0"
              max="100000"
              value="100000"
              aria-label="units"></mat-slider>-->

  <div class="center">

    <div>
      <button (click)="showTransactionHistory()" mat-raised-button class="history-btn">View Trade History</button>
    </div>

    <div>
      <button (click)="onClick()" mat-raised-button class="history-btn">Go Back to Portfolio</button>
    </div>

  </div>


</div>

<app-view-transaction-history *ngIf="showHistory" [coin]="coin" (close)="onCloseHistory($event)"></app-view-transaction-history>

</body>

</html>


