html {
  background: #262626;
  height: 101%;
}

body {
  background: #262626;
  color: white;
}

mat-slider {
  width: 300px;
}

nav {
  visibility: hidden;
}

h1 {
  font-weight: bold;
}

.cross {
  content: "\274C";
  cursor: pointer;
}

.big-heading {
  color: #7d75bd;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin-right: auto;
  margin-left: 3rem;
  margin-top: 25px;
  margin-bottom: 5px;
}

.span-heading {
  font-weight: 500;
  font-size: 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #7d75bd;
}

.no-hover {
  padding-top: 1.2rem;
}

.no-hover:hover {
  background: lightslategrey;
}

.last-label {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

mat-form-field mat-label {
  font-size: 20px;
  font-weight: bolder !important;
  color: white;
}

mat-form-field {
  background: #212529;
  padding-top: 10px;
  margin-top: 10px;
}

mat-form-field input {
  font-size: 15px;
  margin-top: 1.5rem;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

.label-heading {
  margin: 30px !important;
}

.container {
  margin-top: 2rem;
  margin-left: 2.2rem;
  background: #262626;
}

.slider {
  margin-top: 15px;
}

.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  margin-bottom: 15px;
}

.red{
  color: #CF304A;
}

.green{
  color: #03A66D;
}

.fw-bold {
  font-weight: bold;
}

@media (max-width:500px) {
  .big-heading {
    font-size: 25px;
    margin-left: 10px;
  }

  mat-form-field mat-label {
    font-size: 20px;
    font-weight: bolder !important;
  }

  mat-form-field input {
    font-size: 15px;
    margin-top: 1.5rem;
  }

  .span-heading {
    font-weight: bold;
    font-size: 20px;
  }

  .container {
    margin-top: 1.5rem;
    margin-left: 0.6rem;
  }

  .example-full-width {
    width: 100%;
  }

  mat-slider {
    width: 185px;
  }
}
