mat-slider {
  width: 300px;
}

h1 {
  font-weight: bold;
}

.big-heading {
  color: #f7588e;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 30px;
  margin: 40px auto 25px;
  text-align: center;
}
.big-heading span {
  border-bottom: 2px solid deeppink;
  padding-bottom: 10px;
}

.span-heading {
  font-weight: bold;
  font-size: 30px;
}

mat-form-field mat-label {
  font-size: 30px;
  font-weight: bold;
}

mat-form-field input {
  font-size: 20px;
  margin-top: 1em;
}

.label-heading {
  margin: 30px !important;
}

.container {
  margin: auto;
  width: 50%;
  padding: 50px;
  margin-top: 50px;
}

.slider {
  margin-top: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.red{
  background: #F8D7DA;
}

.green{
  background: #D1E7DD;
}
