<html>

<nav class="navbar navbar-expand navbar-light">
  <a class="navbar-brand" routerLink="/">CRYPTOLAND</a>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/portfolio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/calculator" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Calculator</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

</html>

