html, body {
  height: 100% !important;
}

html {
  background: #202c33;
  background-color: #202c33;
  font-size: 15px;
}

nav {
  height: 70px;
  margin-bottom: 25px;
  font-size: 20px;
  text-decoration: #3477ae;
  background-color: #14222b;
}

.navbar-brand {
  padding-left: 13px;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 30px;
  color: #c7cacc;
}

.nav-link {
  padding-top: 10px;
  padding-left: 20px;
  color: #c7cacc;
}

.nav-item {
  padding-left: 20px;
  padding-top: 7px;
}

.activebutton {
  box-shadow: inset 0 1px 0 0 pink;
  background: #212529;
  border: 1px solid white;
  color: #ffffff;
  text-shadow: 0 1px 0 #528ecc;
}

@media (max-width:500px) {

  html {
    font-size: 50%;
  }

  nav {
    height: 50px;
    font-size: 10px;
    width: 100%;
  }

  .navbar-brand {
    font-size: 15px;
    padding: 0 0 0 10px;
  }

  .nav-link {
    padding: 0;
  }

  .nav-item {
    padding: 0;
  }

}

