html, body {
  height: 100% !important;
}

html {
  background: #262626;
  background-color: #262626;
  font-size: 15px;
}

nav {
  height: 70px;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: white;
  background-color: black;
}

.navbar-brand {
  padding-left: 13px;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 30px;
  color: white;
}

.nav-link {
  padding-top: 10px;
  padding-left: 20px;
  color: white;
}

.nav-item {
  padding-left: 20px;
  padding-top: 7px;
}

.nav-link:hover {
  color: grey;
}

@media (max-width:500px) {

  html {
    font-size: 50%;
  }

  nav {
    height: 50px;
    font-size: 10px;
    width: 100%;
  }

  .navbar-brand {
    font-size: 15px;
    padding: 0 0 0 10px;
  }

  .nav-link {
    padding: 0;
  }

  .nav-item {
    padding: 0;
  }

}

