.black {
  background: #14222b;
  color: #c7cacc;
}

.white {
  color: #c7cacc;
}

.red2{
  color: #CF304A;
}

.green2{
  color: #03A66D;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
}

mat-form-field mat-label {
  font-size: 20px;
  font-weight: bolder !important;
  color: #c7cacc;
}

mat-form-field {
  background: #14222b;
  padding-top: 0px;
  margin-top: 5px;
}

mat-form-field input {
  font-size: 15px;
  margin-top: 10px;
  color: white;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
  margin-left: 12px;
  margin-bottom: 16px;
}

.example-full-width {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  margin-bottom: 15px;
}

.spinner {
  border :16px solid white;
  border-top: 16px solid #44444e;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top: 50%;
  left: 50%;
  position: absolute;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #CF304A, #03A66D);
  top: 50%;
  left: 50%;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background:linear-gradient(to top, #202c33, #202c33);
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.label {
  top: 70%;
  left: 47%;
  position: absolute;
  color: #cdcdcd;
  font-size: 20px;
  font-weight: 600;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100%{transform:  rotate(-360deg)}
}

@media (max-width:500px) {

  .loader {
    top: 40%;
    left: 40%;
    position: absolute;
  }

  .label {
    top: 60%;
    left: 34%;
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }

  mat-form-field mat-label {
    font-size: 20px;
    font-weight: bolder !important;
  }

  mat-form-field input {
    font-size: 15px;
    margin-top: 15px;
  }

  .example-full-width {
    width: 90%;
  }

  .example-form {
    min-width: 100px;
    max-width: 500px;
    width: 90%;
    margin-left: 35px;
  }

  table {
    font-size: 15px;
  }
}
